<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbw.springbootapplication.mapper.ReceiptMapper">
    <resultMap id="receiptResultMap" type="Receipt">
        <result property="id" column="id"/>
        <result property="receiptCode" column="receipt_code"/>
        <result property="receiptNum" column="receipt_num"/>
        <result property="sellerUnitName" column="seller_unit_name"/>
        <result property="receiptTime" column="receipt_time"/>
        <result property="receiptCategory" column="receipt_category"/>
        <result property="receiptContent" column="receipt_content"/>
        <result property="money" column="money"/>
        <result property="rate" column="rate"/>
        <result property="tax" column="tax"/>
        <result property="submitAccountStaff" column="submitaccount_staff"/>
        <result property="entryTime" column="entry_time"/>
        <result property="remarks" column="comments"/>
        <result property="compProj" column="comp_proj"/>
        <result property="department" column="department"/>
        <result property="isCertification" column="is_certification"/>
        <result property="certificationTime" column="certification_time"/>
        <result property="checkDigit" column="check_digit"/>
        <result property="leviedTotal" column="levied_total"/>
        <result property="receiptType" column="receipt_type"/>
        <result property="fixedAssets" column="fixed_assets"/>
        <result property="voucherNum" column="voucher_num"/>
        <result property="assertClassFirdir" column="assert_class_firdir"/>
        <result property="assertClassSecdir" column="assert_class_secdir"/>
    </resultMap>

    <sql id="receiptCommon">
        id,receipt_code,receipt_num,seller_unit_name,receipt_time,receipt_category,
        receipt_content,money,rate,tax,submitaccount_staff,entry_time,comments,comp_proj,
        department,is_certification,certification_time,check_digit,levied_total,
        receipt_type,fixed_assets,voucher_num,assert_class_firdir,assert_class_secdir
    </sql>

    <!--查询所有-->
    <select id="findAll" resultMap="receiptResultMap">
        SELECT
        <include refid="receiptCommon"/>
        FROM receipt
        WHERE is_handle='1'
    </select>

    <!--根据id查询receipt信息-->
    <select id="selectReceiptById" parameterType="java.lang.Integer" resultMap="receiptResultMap">
        SELECT
        <include refid="receiptCommon"/>
        FROM receipt
        WHERE
        id=#{id}
    </select>

    <!--范围查询-->
    <select id="findReceiptByMsg" parameterType="ReceiptQueryVo" resultMap="receiptResultMap">
        SELECT
        <include refid="receiptCommon"/>
        FROM receipt
        WHERE
        is_handle='1'
        <if test="receiptQueryVo.receiptCode!=null and receiptQueryVo.receiptCode!='' ">
            AND (receipt_code LIKE concat('%',#{receiptQueryVo.receiptCode},'%')
            or receipt_num LIKE concat('%',#{receiptQueryVo.receiptCode},'%')
            OR seller_unit_name LIKE concat('%',#{receiptQueryVo.receiptCode},'%'))
        </if>
        <if test="receiptQueryVo.receiptCategory=='-1'">
            AND receipt_category=''
        </if>
        <if test="receiptQueryVo.receiptCategory!=null and receiptQueryVo.receiptCategory!='' and receiptQueryVo.receiptCategory!='-1' ">
            AND receipt_category LIKE concat('%',#{receiptQueryVo.receiptCategory},'%')
        </if>
        <if test="receiptQueryVo.receiptContent!=null and receiptQueryVo.receiptContent!='' ">
            AND receipt_content =#{receiptQueryVo.receiptContent}
        </if>
        <if test="receiptQueryVo.isCertification!=null and receiptQueryVo.isCertification!='' ">
            AND is_certification=#{receiptQueryVo.isCertification}
        </if>
        <if test="receiptQueryVo.receiptStartime!=null and receiptQueryVo.receiptEndtime!=null ">
            AND receipt_time BETWEEN #{receiptQueryVo.receiptStartime} AND #{receiptQueryVo.receiptEndtime}
        </if>
        <if test="receiptQueryVo.entryStartime!=null and receiptQueryVo.entryEndtime!=null ">
            AND entry_time BETWEEN #{receiptQueryVo.entryStartime} AND #{receiptQueryVo.entryEndtime}
        </if>
        <if test="receiptQueryVo.receiptType!=null and receiptQueryVo.receiptType!='' ">
            AND receipt_type=#{receiptQueryVo.receiptType}
        </if>
        <if test="receiptQueryVo.department!=null and receiptQueryVo.department!='' ">
            AND department=#{receiptQueryVo.department}
        </if>
        <if test="receiptQueryVo.fixedAssets!=null and receiptQueryVo.fixedAssets!='' ">
            AND fixed_assets=#{receiptQueryVo.fixedAssets}
        </if>
        <if test="receiptQueryVo.compProj!=null and receiptQueryVo.compProj!='' ">
            AND comp_proj=#{receiptQueryVo.compProj}
        </if>
        <if test="receiptQueryVo.assertClassFirdir!=null and receiptQueryVo.assertClassFirdir!='' ">
            AND assert_class_firdir=#{receiptQueryVo.assertClassFirdir}
        </if>
        <if test="receiptQueryVo.assertClassSecdir!=null and receiptQueryVo.assertClassSecdir!='' ">
            AND assert_class_secdir=#{receiptQueryVo.assertClassSecdir}
        </if>
        order by entry_time desc
    </select>

    <!--查询数量-->
    <select id="countReceiptNum" parameterType="ReceiptQueryVo" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM receipt
        WHERE
        is_handle='1'
        <if test="receiptQueryVo.receiptCode!=null and receiptQueryVo.receiptCode!='' ">
            AND (receipt_code LIKE concat('%',#{receiptQueryVo.receiptCode},'%')
            or receipt_num LIKE concat('%',#{receiptQueryVo.receiptCode},'%')
            OR seller_unit_name LIKE concat('%',#{receiptQueryVo.receiptCode},'%'))
        </if>
        <if test="receiptQueryVo.receiptCategory!=null and receiptQueryVo.receiptCategory!='' ">
            AND receipt_category LIKE concat('%',#{receiptQueryVo.receiptCategory},'%')
        </if>
        <if test="receiptQueryVo.receiptContent!=null and receiptQueryVo.receiptContent!='' ">
            AND receipt_content =#{receiptQueryVo.receiptContent}
        </if>
        <if test="receiptQueryVo.isCertification!=null and receiptQueryVo.isCertification!='' ">
            AND is_certification=#{receiptQueryVo.isCertification}
        </if>
        <if test="receiptQueryVo.receiptStartime!=null and receiptQueryVo.receiptEndtime!=null ">
            AND receipt_time BETWEEN #{receiptQueryVo.receiptStartime} AND #{receiptQueryVo.receiptEndtime}
        </if>
        <if test="receiptQueryVo.entryStartime!=null and receiptQueryVo.entryEndtime!=null ">
            AND entry_time BETWEEN #{receiptQueryVo.entryStartime} AND #{receiptQueryVo.entryEndtime}
        </if>
        <if test="receiptQueryVo.receiptType!=null and receiptQueryVo.receiptType!='' ">
            AND receipt_type=#{receiptQueryVo.receiptType}
        </if>
        <if test="receiptQueryVo.department!=null and receiptQueryVo.department!='' ">
            AND department=#{receiptQueryVo.department}
        </if>
        <if test="receiptQueryVo.fixedAssets!=null and receiptQueryVo.fixedAssets!='' ">
            AND fixed_assets=#{receiptQueryVo.fixedAssets}
        </if>
        <if test="receiptQueryVo.compProj!=null and receiptQueryVo.compProj!='' ">
            AND comp_proj=#{receiptQueryVo.compProj}
        </if>
        <if test="receiptQueryVo.assertClassFirdir!=null and receiptQueryVo.assertClassFirdir!='' ">
            AND assert_class_firdir=#{receiptQueryVo.assertClassFirdir}
        </if>
        <if test="receiptQueryVo.assertClassSecdir!=null and receiptQueryVo.assertClassSecdir!='' ">
            AND assert_class_secdir=#{receiptQueryVo.assertClassSecdir}
        </if>
    </select>
    
    <update id="certReceipt" parameterType="java.lang.Integer">
        UPDATE
        receipt
        SET
        is_certification = '1',
        certification_time = now()
        WHERE
        id = #{id}
        AND is_handle='1'
    </update>

    <update id="cancelReceipt" parameterType="java.lang.Integer">
        UPDATE
        receipt
        SET
        is_certification = '2',
        certification_time =NULL
        WHERE
        id=#{id}
        AND is_handle='1'
    </update>

    <delete id="delReceipt" parameterType="java.lang.Integer">
        DELETE
        FROM
        receipt
        WHERE
        id=#{id}
        AND is_handle='1'
    </delete>

    <update id="editReceipt" parameterType="Receipt">
        UPDATE
        receipt
        <set>
            <if test="receipt.receiptCode!=null and receipt.receiptCode!='' ">
                receipt_code=#{receipt.receiptCode},
            </if>
            <if test="receipt.receiptNum!=null and receipt.receiptNum!='' ">
                receipt_num=#{receipt.receiptNum},
            </if>
            <if test="receipt.sellerUnitName!=null and receipt.sellerUnitName!='' ">
                seller_unit_name=#{receipt.sellerUnitName},
            </if>
            <if test="receipt.receiptTime!=null">
                receipt_time=#{receipt.receiptTime},
            </if>
            <if test="receipt.receiptCategory!=null and receipt.receiptCategory!='' ">
                receipt_category=#{receipt.receiptCategory},
            </if>
            <if test="receipt.receiptContent!=null and receipt.receiptContent!='' ">
                receipt_content=#{receipt.receiptContent},
            </if>
            <if test="receipt.money!=null and receipt.money!='' ">
                money=#{receipt.money},
            </if>
            <if test="receipt.rate!=null and receipt.rate!='' ">
                rate=#{receipt.rate},
            </if>
            <if test="receipt.tax!=null and receipt.tax!='' ">
                tax=#{receipt.tax},
            </if>
            <if test="receipt.submitAccountStaff!=null and receipt.submitAccountStaff!='' ">
                submitaccount_staff=#{receipt.submitAccountStaff},
            </if>
            <if test="receipt.entryTime!=null">
                entry_time=#{receipt.entryTime},
            </if>
            <if test="receipt.remarks!=null and receipt.remarks!='' ">
                comments=#{receipt.remarks},
            </if>
            <if test="receipt.compProj!=null and receipt.compProj!='' ">
                comp_proj=#{receipt.compProj},
            </if>
            <if test="receipt.department!=null and receipt.department!='' ">
                department=#{receipt.department},
            </if>
            <if test="receipt.isCertification!=null and receipt.isCertification!='' ">
                is_certification=#{receipt.isCertification},
            </if>
            certification_time=#{receipt.certificationTime},
            <if test="receipt.checkDigit!=null and receipt.checkDigit!='' ">
                check_digit=#{receipt.checkDigit},
            </if>
            <if test="receipt.leviedTotal!=null and receipt.leviedTotal!='' ">
                levied_total=#{receipt.leviedTotal},
            </if>
            <if test="receipt.receiptType!=null and receipt.receiptType!='' ">
                receipt_type=#{receipt.receiptType},
            </if>
            voucher_num=#{receipt.voucherNum},
            <if test="receipt.fixedAssets!=null and receipt.fixedAssets!='' ">
                fixed_assets=#{receipt.fixedAssets},
            </if>
            assert_class_firdir=#{receipt.assertClassFirdir},
            assert_class_secdir=#{receipt.assertClassSecdir}
        </set>
        WHERE id=#{receipt.id}
        AND is_handle='1'
    </update>

    <insert id="addReceipt" parameterType="Receipt">
        INSERT INTO receipt(
            receipt_code,
            receipt_num,
            seller_unit_name,
            receipt_time,
            receipt_category,
            receipt_content,
            money,
            rate,
            tax,
            submitaccount_staff,
            entry_time,
            comments,
            comp_proj,
            department,
            is_certification,
            certification_time,
            check_digit,
            levied_total,
            receipt_type,
            is_handle,
            fixed_assets,
            handler_user,
            voucher_num,
            assert_class_firdir,
            assert_class_secdir,
            error_code
        )
        VALUES (
            #{receipt.receiptCode},
            #{receipt.receiptNum},
            #{receipt.sellerUnitName},
            #{receipt.receiptTime},
            #{receipt.receiptCategory},
            #{receipt.receiptContent},
            #{receipt.money},
            #{receipt.rate},
            #{receipt.tax},
            #{receipt.submitAccountStaff},
            now(),
            #{receipt.remarks},
            #{receipt.compProj},
            #{receipt.department},
            #{receipt.isCertification},
            #{receipt.certificationTime},
            #{receipt.checkDigit},
            #{receipt.leviedTotal},
            #{receipt.receiptType},
            '1',
            #{receipt.fixedAssets},
            #{receipt.handlerUser},
            #{receipt.voucherNum},
            #{receipt.assertClassFirdir},
            #{receipt.assertClassSecdir},
            '0'
        )
    </insert>

    <select id="countByRecNum" parameterType="Receipt" resultType="java.lang.Integer">
       SELECT COUNT(1)
       FROM
       receipt
       WHERE
       receipt_num=#{receipt.receiptNum}
       AND is_handle='1'
    </select>

    <select id="countNoRepeatRecNum" parameterType="Receipt" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM
        receipt
        WHERE
        receipt_num=#{receipt.receiptNum}
        AND id!=#{receipt.id}
        AND is_handle='1'
    </select>

    <select id="selectRecpByNum" parameterType="java.lang.String" resultMap="receiptResultMap">
        SELECT
        <include refid="receiptCommon"/>
        FROM
        receipt
        WHERE
        receipt_num=#{receiptNum}
        AND is_handle='1'
    </select>

    <select id="findListByIds" parameterType="java.lang.Integer" resultMap="receiptResultMap">
        SELECT
        <include refid="receiptCommon"/>
        FROM receipt
        WHERE id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND is_handle='1'
    </select>

    <select id="selectCategoryList" resultType="java.lang.String">
        SELECT DISTINCT receipt_category
        FROM receipt
        WHERE
        is_handle='1'
        AND receipt_category!=""
    </select>

    <select id="selectContentList" resultType="java.lang.String">
        SELECT DISTINCT receipt_content
        FROM receipt
        WHERE
        is_handle='1'
        AND receipt_content!=""
    </select>
</mapper>